In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.2.4'

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
print(pd.io.sql.get_schema(df, name =  'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [48]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator = True, chunksize = 100000)

In [40]:
df = next(df_iter)

In [41]:
len(df)

100000

In [42]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [43]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists = 'append')

In [45]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists = 'append')

CPU times: total: 1.95 s
Wall time: 6.23 s

In [49]:
from time import time

In [50]:
while True:
    t_start = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists = 'append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 6.499 second
inserted another chunk, took 6.340 second
inserted another chunk, took 6.332 second
inserted another chunk, took 6.325 second
inserted another chunk, took 6.492 second
inserted another chunk, took 6.422 second
inserted another chunk, took 6.225 second
inserted another chunk, took 6.452 second
inserted another chunk, took 6.545 second
inserted another chunk, took 6.261 second
inserted another chunk, took 6.565 second
inserted another chunk, took 6.351 second
inserted another chunk, took 6.364 second
inserted another chunk, took 4.115 second

StopIteration:

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')